:root {
  --main-color: #35cebe;
  --warming-color: #f4cd4a;
  --error-color: #fc4660;
  --success-color: #aee460;
  --grey-color: #888888;
  --ligth-grey-color: #cac8c8;
}


*{
  transition: all 1s ease-in-out;
}
#solicitude .solucitude-form, fieldset {
  margin-bottom: 0;
}
